<div data-hook="admin_dhl_surcharge_form_fields">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title"><%= Spree.t(:general_settings) %></h1>
    </div>
    <div class="panel-body" data-hook="dhl_country_zone">
      <div class="col-md-6">
        <div data-hook="shipping_method" class="form-group">
          <%= f.label :shipping_method, Spree.t(:shipping_method) %>
          <%= f.collection_select(:dhl_shipping_method_id, @dhl_shipping_methods, :id, :name, {}, {:class => 'select2'}) %>
        </div>
      </div>
      <div class="col-md-6">
        <div data-hook="name" class="form-group">
          <%= f.label :name, Spree.t(:name) %>
          <%= f.text_field :name, :class => 'form-control' %>
        </div>
      </div>
      <div class="col-md-6">
        <div data-hook="is_absolute" class="form-group checkbox">
          <%= f.label :is_absolute, f.check_box(:is_absolute) + ' ' + Spree.t(:is_absolute) %>
        </div>
      </div>
      <div class="col-md-6">
        <div data-hook="value" class="form-group">
          <%= f.label :value, Spree.t(:value) %>
          <%= f.text_field :value, :class => 'form-control' %>
        </div>
      </div>
    </div>
  </div>
</div>