<div data-hook="admin_dhl_surcharge_form_fields">
  <div class="alpha twelve columns">
    <fieldset data-hook="dhl_surcharge" class=" no-border-bottom">
      <legend align="center"><%= Spree.t(:general_settings) %></legend>
      <div class="alpha six columns">
        <div data-hook="shipping_method" class="field">
          <%= f.label :shipping_method, Spree.t(:shipping_method) %>
          <%= f.collection_select(:dhl_shipping_method_id, @dhl_shipping_methods, :id, :name, {}, {:class => 'select2 fullwidth'}) %>
        </div>
      </div>
      <div class="omgea five columns">
        <div data-hook="name" class="field">
          <%= f.label :name, Spree.t(:name) %>
          <%= f.text_field :name, :class => 'fullwidth' %>
        </div>
      </div>
      <div class="clear"></div>
      <div class="alpha three columns">
        <div data-hook="is_absolute" class="field">
          <%= f.check_box :is_absolute, :class => 'fullwidth' %>
          <%= f.label :is_absolute, Spree.t(:is_absolute) %>
        </div>
      </div>
      <div class="omega eight columns">
        <div data-hook="value" class="field">
          <%= f.label :value, Spree.t(:value) %>
          <%= f.text_field :value, :class => 'fullwidth' %>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="clear"></div>
</div>
