<% content_for :page_title do %>
  <%= Spree.t(:surcharges) %> - <%= @dhl_shipping_method.name %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:back), spree.admin_dhl_shipping_methods_path, icon: 'arrow-left' %>
  <%= button_link_to Spree.t(:new_surcharge), spree.new_admin_dhl_shipping_method_dhl_surcharge_path(@dhl_shipping_method), icon: 'plus', class: 'btn-success' %>
<% end %>

<% unless @dhl_surcharges.any? %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: Spree::DhlSurcharge.model_name.human(count: :many)) %>,
    <%= link_to Spree.t(:add_one), new_object_url %>!
  </div>
<% else %>
  <table class="table">
    <colgroup>
      <col style="width: 15%">
      <col style="width: 45%">
      <col style="width: 25%">
      <col style="width: 15%">
    </colgroup>
    <thead>
      <tr data-hook="dhl_surcharges_header">
        <th><%= Spree.t(:surcharge_method) %></th>
        <th><%= Spree.t(:surcharge_name) %></th>
        <th><%= Spree.t(:surcharge_value) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @dhl_surcharges.each do |surcharge|%>
        <tr id="<%= spree_dom_id surcharge %>" data-hook="rate_row" class="<%= cycle('odd', 'even')%>">
          <td><%= surcharge.shipping_method.name %></td>
          <td><%= surcharge.name %></td>
          <td><%= surcharge.is_absolute? ? number_to_currency(surcharge.value) : "#{(surcharge.value * 100)}%" %></td>
          <td class="actions">
            <%= button_link_to_with_icon 'edit', Spree.t(:edit), spree.edit_admin_dhl_surcharge_path(surcharge), no_text: true %>
            <%= link_to_delete surcharge, no_text: true, url: spree.admin_dhl_surcharge_path(surcharge) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
