<div data-hook="admin_dhl_shipping_method_form_fields">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title"><%= Spree.t(:general_settings) %></h1>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <div data-hook="method_class" class="form-group">
          <%= f.label :method_class, Spree.t(:method_class) %>
          <%= f.collection_select(:method_class, [Spree::Calculator::Shipping::DhlEuroplus, Spree::Calculator::Shipping::DhlExpress], :to_s, :description, {}, {:class => 'select2'}) %>
        </div>
      </div>
      <div class="col-md-6">
        <div data-hook="name" class="form-group">
          <%= f.label :name, Spree.t(:name) %>
          <%= f.text_field :name, :class => 'form-control' %>
        </div>
      </div>

      <div class="col-md-6">
        <div data-hook="volume_factor" class="form-group">
          <%= f.label :volume_factor, Spree.t(:volume_factor) %>
          <%= f.text_field :volume_factor, :class => 'form-control' %>
        </div>
      </div>
      <div class="col-md-6">
        <div data-hook="volume_size_threshold" class="form-group">
          <%= f.label :volume_size_threshold, Spree.t(:volume_size_threshold) %>
          <%= f.text_field :volume_size_threshold, :class => 'form-control' %>
        </div>
      </div>
    </div>
  </div>
</div>