<% content_for :page_title do %>
  <%= Spree.t(:dhl_shipping_methods) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_dhl_shipping_method), new_object_url, icon: 'add', class: 'btn-success' %>
<% end %>

<% unless @dhl_shipping_methods.any? %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: Spree::DhlShippingMethod.model_name.human(count: :many)) %>,
    <%= link_to Spree.t(:add_one), new_object_url %>!
  </div>
<% else %>
  <table class="table">
    <colgroup>
      <col style="width: 25%">
      <col style="width: 26%">
      <col style="width: 14%">
      <col style="width: 14%">
      <col style="width: 21%">
    </colgroup>
    <thead>
      <tr data-hook="dhl_shipping_methods_header">
        <th><%= Spree.t(:shipping_method_method_class) %></th>
        <th><%= Spree.t(:shipping_method_name) %></th>
        <th><%= Spree.t(:shipping_method_volume_factor) %></th>
        <th><%= Spree.t(:shipping_method_volume_size_threshold) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @dhl_shipping_methods.each do |method|%>
        <tr id="<%= spree_dom_id method %>" data-hook="rate_row" class="<%= cycle('odd', 'even')%>">
          <td><%= method.method_class.constantize.description %></td>
          <td><%= method.name %></td>
          <td><%= method.volume_factor %></td>
          <td><%= method.volume_size_threshold %></td>
          <td class="actions">
            <%= button_link_to_with_icon 'globe', Spree.t(:shipping_zones), spree.admin_dhl_shipping_method_dhl_shipping_zones_path(method), no_text: true %>
            <%= button_link_to_with_icon 'paperclip', Spree.t(:surcharges), spree.admin_dhl_shipping_method_dhl_surcharges_path(method), no_text: true %>
            <%= link_to_edit method, no_text: true %>
            <%= link_to_delete method, no_text: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
