<div data-hook="admin_dhl_country_zone_form_fields">
  <div class="alpha twelve columns">
    <fieldset data-hook="dhl_country_zone" class=" no-border-bottom">
      <legend align="center"><%= Spree.t(:general_settings) %></legend>
      <div class="alpha six columns">
        <div data-hook="country" class="field">
          <%= f.label :country, Spree.t(:country) %>
          <%= f.collection_select(:country_id, @countries, :id, :name, {}, {:class => 'select2 fullwidth'}) %>
        </div>
      </div>
      <div class="omega six columns">
        <div data-hook="zip_codes" class="field">
          <%= f.label :zip_codes, Spree.t(:zip_codes) %>
          <%= f.text_field :zip_codes, :class => 'fullwidth' %>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="clear"></div>
</div>
