<%= render partial: 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:new_shipping_zone) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back), collection_url, icon: 'icon-arrow-left' %>
  </li>
<% end %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @dhl_shipping_zone } %>

<%= form_for [:admin, @dhl_shipping_method, @dhl_shipping_zone].compact do |f| %>
  <fieldset class="no-border-top">

    <%= render partial: 'form', locals: { f: f } %>

    <div class="clear"></div>

    <%= render partial: 'spree/admin/shared/new_resource_links' %>

  </fieldset>
<% end %>
